name: Code Review

on: [pull_request]

# Declare default permissions as read only.
permissions: read-all

jobs:

  # -- GO LINT ----------------------------------------------------------------
  go-lint:
    name: GO Lint
    runs-on: ubuntu-latest

    steps:
      - name: Harden GitHub Actions Runner
        uses: step-security/harden-runner@5d5d34225d930d298d52ae60999ca9b617dd2e3a
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2

      # Setup Go & Build
      - name: Setup Go
        uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3.5.0
        with:
          go-version-file: 'go.mod'
          check-latest: true
          cache: true

      # Build the Go app
      - name: Build Go app
        run: make go-build

      # Run staticcheck
      - name: Run Staticcheck
        uses: reviewdog/action-staticcheck@a7aa1d4d70d9d20bba4918cd7e8a73e963fd6851 # tag=v1.10.0
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          reporter: github-pr-review
          filter_mode: nofilter
          fail_on_error: true

  # -- DOCKER LINT ------------------------------------------------------------
  docker-lint:
    name: Docker Lint
    runs-on: ubuntu-latest

    steps:
      - name: Harden GitHub Actions Runner
        uses: step-security/harden-runner@5d5d34225d930d298d52ae60999ca9b617dd2e3a
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2

      - name: Run Hadolint
        uses: reviewdog/action-hadolint@1b070701bee7438c450558821fe54b0b5888ad3d # v1.34.0
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          reporter: github-pr-review
