name: Code Review

on: [pull_request]

# Declare default permissions as read only.
permissions: read-all

jobs:

  # -- GO LINT ----------------------------------------------------------------
  go-lint:
    name: GO Lint
    runs-on: ubuntu-latest

    steps:
      - name: Harden GitHub Actions Runner
        uses: step-security/harden-runner@v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@v6.0.1

      # Setup Go & Build
      - name: Setup Go
        uses: actions/setup-go@v6.0.0
        with:
          go-version-file: 'go.mod'
          check-latest: true
          cache: true

      # Build the Go app
      - name: Build Go app
        run: make go-build

      # Run staticcheck
      - name: Run Staticcheck
        uses: reviewdog/action-staticcheck@v1.2.8
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          reporter: github-pr-review
          filter_mode: nofilter
          fail_on_error: true

  # -- DOCKER LINT ------------------------------------------------------------
  docker-lint:
    name: Docker Lint
    runs-on: ubuntu-latest

    steps:
      - name: Harden GitHub Actions Runner
        uses: step-security/harden-runner@v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Run Hadolint
        uses: reviewdog/action-hadolint@v1.50.2
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          reporter: github-pr-review
