name: Code Review

on: [pull_request]

# Declare default permissions as read only.
permissions: read-all

jobs:

  # -- GO LINT ----------------------------------------------------------------
  go-lint:
    name: GO Lint
    runs-on: ubuntu-latest

    steps:
      - name: Harden GitHub Actions Runner
        uses: step-security/harden-runner@v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Setup Bazelisk
        run: |
          curl -L -o /usr/local/bin/bazelisk https://github.com/bazelbuild/bazelisk/releases/download/v1.27.0/bazelisk-linux-amd64
          chmod +x /usr/local/bin/bazelisk

      - name: Bazel Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/bazel
          key: ${{ runner.os }}-bazel-${{ hashFiles('.bazelversion', 'MODULE.bazel', 'MODULE.bazel.lock', 'go.mod', 'go.sum') }}
          restore-keys: |
            ${{ runner.os }}-bazel-

      # Setup Go & Build
      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'
          check-latest: true
          cache: true

      # Build the app (Bazel)
      - name: Build app (Bazel)
        run: bazelisk build //cmd:main

      # Run staticcheck
      - name: Run Staticcheck
        uses: reviewdog/action-staticcheck@50f9bfcf3738839ddc95deac241b904d77469096 # v1.28.0
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          reporter: github-pr-review
          filter_mode: nofilter
          fail_on_error: true

  # -- DOCKER LINT ------------------------------------------------------------
  docker-lint:
    name: Docker Lint
    runs-on: ubuntu-latest

    steps:
      - name: Harden GitHub Actions Runner
        uses: step-security/harden-runner@v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Run Hadolint
        uses: reviewdog/action-hadolint@v1.50.2
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          reporter: github-pr-review
